body {
	width:95%;
	height:100%;
	padding: 30px;
}

h1{
	font-size: 45px;
	font-family: Vani, Verdana, "Times New Roman";
	text-align: center;	
}

h2{
	font-size: 18px;
	font-family: Verdana, "Times New Roman";
	
}

h3{
	font-size: 14px;
	font-family: Verdana;
}

p{
	font-size: 14px;
}

h4{
	font-size: 14px;
	font-family: Verdana;
	text-align: center;
}

#main{
	display:grid;
	grid-template-columns: 30% auto;
	padding-right: 100px;
}

#sidebar{
	padding :2px;
	background-color: #eee;
	margin: 40px
	width: 5%;
}


#main #sidebar img{
	border-radius: 100%;
	
}



#background_info{
	padding: 30px;
}

#d1{
	color: white;
	padding: 40px;
	width-auto;
	background-color: #4bbbaf;
	
	
}
#header{
	border: 1px solid;
	width: 1000px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	
	color: white;
	display: flex;
	justify-content: center;
	
}

.section{
	float: right;
	margin: 0 1.5;
	width: 50%;
}

.clr{
	clear: both;
}

